!!!
  %title Лавка
  %link{ rel: "stylesheet", href: Routes.static_path(@conn, "/css/app.css") }
  %script{ defer: true, type: "text/javascript", src: Routes.static_path(@conn, "/js/app.js") }
%body
  = @inner_content