/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
magazin-*.tar
npm-debug.log
/assets/node_modules/
/priv/static/
/public/assets*
/tmp
*~
/vendor
.env.*
/spec/examples.txt
/settings.yml
/Dockerfile
/.key/*
/logs/
/public
/info/version
/bin
/config/*
!/config/*example*
!/config/moneys.yml
!/config/amqp_content_types.yml
/bin/*
/.bundle
